
html, body {
    margin: 0;
    height: 100%;
}
#buffer{
    padding: 100px;
}
.jumbotron{
    text-align: center;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    background-color: azure
}
body{
    background-image: url("../../../Assets/portfolio backgrounds/1530106563933.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
#projectButton{
    background-image:linear-gradient(#95bea7,#092720);
    border-color: #092720;
    margin: 5px
}
.list{
    background-color: azure !important;
}